h1{
    color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}
p{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}